/vendor/

/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/

/web/sites/*/files/
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml

/.env
/.lando/
/.phpunit.cache/
/.phpunit.result.cache
/.phpstan.cache/

