<?xml version="1.0"?>
<ruleset name="Simple Voting">
  <description>Drupal coding standards for project-owned PHP and Drupal files.</description>

  <arg name="colors" />
  <arg name="parallel" value="8" />
  <arg name="extensions" value="php,module,install,inc,theme,profile,engine" />

  <file>web/modules/custom</file>
  <file>web/themes/custom</file>

  <rule ref="Drupal" />
  <rule ref="DrupalPractice" />

  <exclude-pattern>*/tests/fixtures/*</exclude-pattern>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/web/core/*</exclude-pattern>
</ruleset>
