parameters:
    level: 5
    paths:
        - web/modules/custom
        - web/themes/custom
    excludePaths:
        - web/modules/custom/*/tests/src/Kernel
        - web/modules/custom/*/tests/src/Functional
    tmpDir: .phpstan.cache
