<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true">
  <testsuites>
    <testsuite name="Simple Voting Unit">
      <directory suffix="Test.php">web/modules/custom/simple_voting/tests/src/Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
