openapi: 3.1.0
info:
  title: Simple Voting API
  version: 1.0.0
  description: |
    Contrato inicial da API manual do desafio Simple Voting.
    A implementação deve validar autenticação, permissões, CSRF e regras de domínio no Drupal.
servers:
  - url: https://simple-voting.lndo.site
    description: Ambiente Lando local

security:
  - basicAuth: []
  - cookieAuth: []

tags:
  - name: Questions
  - name: Votes
  - name: Results

paths:
  /api/v1/questions:
    get:
      tags: [Questions]
      summary: Lista perguntas disponíveis
      operationId: listQuestions
      responses:
        '200':
          description: Perguntas retornadas
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/QuestionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/questions/{question_id}:
    parameters:
      - $ref: '#/components/parameters/QuestionId'
    get:
      tags: [Questions]
      summary: Exibe uma pergunta e suas opções
      operationId: getQuestion
      responses:
        '200':
          description: Pergunta retornada
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Question'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/questions/{question_id}/votes:
    parameters:
      - $ref: '#/components/parameters/QuestionId'
    post:
      tags: [Votes]
      summary: Registra um voto
      operationId: createVote
      security:
        - basicAuth: []
        - cookieAuth: []
          csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoteRequest'
      responses:
        '201':
          description: Voto registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Usuário já votou nessa pergunta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Pergunta fechada ou opção incompatível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Votação desabilitada ou lock indisponível
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/questions/{question_id}/results:
    parameters:
      - $ref: '#/components/parameters/QuestionId'
    get:
      tags: [Results]
      summary: Exibe os resultados de uma pergunta
      description: Todos os endpoints exigem autenticação e access simple voting API; resultados ocultos exigem adicionalmente a permissão view voting results.
      operationId: getResults
      responses:
        '200':
          description: Resultados retornados
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Results'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Usuário Drupal autenticado sobre HTTPS.
    cookieAuth:
      type: apiKey
      in: cookie
      name: SESS<hash>
      description: Sessão Drupal autenticada.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: Obrigatório para requests de sessão que alteram estado.

  parameters:
    QuestionId:
      name: question_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-z0-9][a-z0-9_-]{1,127}$'
      description: Identificador estável da pergunta.

  schemas:
    QuestionSummary:
      type: object
      required: [id, title, status, show_results]
      properties:
        id:
          type: string
        title:
          type: string
        status:
          type: string
          enum: [open, closed]
          description: Lifecycle obrigatório; somente perguntas open e votação global habilitada aceitam votos.
        show_results:
          type: boolean

    Question:
      allOf:
        - $ref: '#/components/schemas/QuestionSummary'
        - type: object
          required: [options]
          properties:
            options:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/Option'

    Option:
      type: object
      required: [id, title]
      properties:
        id:
          type: integer
          minimum: 1
        title:
          type: string
        description:
          type: string
        image_url:
          type: string
          format: uri

    VoteRequest:
      type: object
      required: [option_id]
      additionalProperties: false
      properties:
        option_id:
          type: integer
          minimum: 1

    Results:
      type: object
      required: [question_id, total_votes, options]
      properties:
        question_id:
          type: string
        total_votes:
          type: integer
          minimum: 0
        options:
          type: array
          items:
            type: object
            required: [id, title, votes, percentage]
            properties:
              id:
                type: integer
              title:
                type: string
              votes:
                type: integer
                minimum: 0
              percentage:
                type: number
                minimum: 0
                maximum: 100

    MessageResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string

  responses:
    BadRequest:
      description: Request inválido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Autenticação necessária
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Acesso não permitido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Recurso não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Erro interno
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
